@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
@import url('https://fonts.googleapis.com/css2?family=Anton&family=EB+Garamond:wght@600&display=swap');

html,body{
    font-family: 'Noto Sans JP', sans-serif;
    color: #4C4C4C;
    overflow-x: hidden!important;
}


a{
    text-decoration: none;
}

.footer{
    position: sticky;
    top: 100vh;
}

.img-recursion{
    width: 100px;
    height: 100px;
}

.img-coffee {
    width: 100%;
    height: 100%;
    object-fit: cover;  
}

.img-foods{
    width: 100%;
    height: auto;
}
.img-catch{
    height: 75%;
    width: auto;
    object-fit: cover;
}

.font-hurricane{
    font-family: 'Hurricane', cursive;
}

.font-garamond{
    font-family: 'Anton', sans-serif;
    font-family: 'EB Garamond', serif;
}

.weight100   {
    font-weight:100
    }

.weight300   {
    font-weight:300
    }
.weight400   {
    font-weight:400
    }
.weight500   {
    font-weight:500
    }
.weight600   {
    font-weight:600
    }
.weight700   {
    font-weight:700
    }
.weight900   {
    font-weight:900
    }

.box{
    height:600px;
    position: relative;
}

.absolute0{
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}

.absolute1{
    position: absolute;
    transform: translate(-50%,-50%) rotate(30deg);
    top: 50%;
    left: 50%;
}
.absolute2{
    position: absolute;
    transform: translate(-50%,-50%) rotate(-20deg);
    top: 50%;
    left: 50%;
}

.drink-detail{
    width: 100%;
    aspect-ratio: 3/4;
    object-fit: cover;

}

.box-border {
    position: relative;
    padding:0.25em 1em;
}
.box-border:before,.box-border:after{ 
    content:'';
    width: 20px;
    height: 30px;
    position: absolute;
    display: inline-block;
}
.box-border:before{
    border-left: solid 1px #5767bf;
    border-top: solid 1px #5767bf;
    top:0;
    left: 0;
}
.box-border:after{
    border-right: solid 1px #5767bf;
    border-bottom: solid 1px #5767bf;
    bottom:0;
    right: 0;
}
/* ボタンの表示設定 */
#scroll-to-top-btn{
    z-index: 100;
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
    color: #FFF;
    font-size: 32px;
    background-color: #09c;
    border: none;
    border-radius: 50%;
    outline: none;
    transform: rotate(-90deg);
    opacity: 0;
    transition-duration: 0.5s;
}

.tx-inline{
    display: inline;
}
ul{
    list-style: none;
}
.news_list{
    border-top: 0.8px solid ;
    line-height: 50px;
}
.border_bottom{
    border-bottom: 0.8px solid;
}
