html,body{height: 100%;}

.footer{
    position: sticky;
    top: 100vh;
    background-color: antiquewhite;
}

.img-recursion{
    width: 100px;
    height: 100px;
}


.img-coffee {
    width: 200px;
    height: 200px;
    object-fit: cover;  
}


.font-hurricane{
    font-family: 'Hurricane', cursive;
}

.font-inspiration{
    font-family: 'Inspiration', cursive;
}

