
.img-recursion{
    width: 100px;
    height: 100px;
}

.img-coffee img {
    width: 100px;
    height: 100px;
    object-fit: scale-down;
    
}

.font-hurricane{
    font-family: 'Hurricane', cursive;
}

