@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

html,body{
    height: 100%;
    font-family: 'Noto Sans JP', sans-serif;
}

a{
    text-decoration: none;
}

.footer{
    position: sticky;
    top: 100vh;
    background-color: antiquewhite;
}

.img-recursion{
    width: 100px;
    height: 100px;
}

.img-coffee {
    width: 100%;
    height: 100%;
    object-fit: cover;  
}
.img-catch{
    height: 50%;
    width: auto;
    object-fit: cover;
}

.font-hurricane{
    font-family: 'Hurricane', cursive;
}

.font-inspiration{
    font-family: 'Inspiration', cursive;
}

.weight100   {
    font-weight:100
    }

.weight300   {
    font-weight:300
    }
.weight400   {
    font-weight:400
    }
.weight500   {
    font-weight:500
    }
.weight600   {
    font-weight:600
    }
.weight700   {
    font-weight:700
    }
.weight900   {
    font-weight:900
    }

.box{
    height:600px;
    position: relative;
}

.absolute0{
    position: absolute;
    z-index: 100;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

}

.absolute1{
    position: absolute;
    transform: rotate(30deg);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.absolute2{
    position: absolute;
    transform: rotate(-20deg);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

/* ボタンの表示設定 */
#scroll-to-top-btn{
    z-index: 100;
    position: fixed;
    bottom: 10px;
    right: 10px;
    height: 50px;
    width: 50px;
    color: #FFF;
    font-size: 32px;
    background-color: #09c;
    border: none;
    border-radius: 50%;
    outline: none;
    transform: rotate(-90deg);
    opacity: 0;
    transition-duration: 0.5s;
}