html,body{height: 100%;}

a{
    text-decoration: none;
}

.footer{
    position: sticky;
    top: 100vh;
    background-color: antiquewhite;
}

.img-recursion{
    width: 100px;
    height: 100px;
}


.img-coffee {
    width: 100%;
    height: 100%;
    object-fit: cover;  
}


.font-hurricane{
    font-family: 'Hurricane', cursive;
}

.font-inspiration{
    font-family: 'Inspiration', cursive;
}
.box-border {
    position: relative;
    padding:0.25em 1em;
}
.box-border:before,.box-border:after{ 
    content:'';
    width: 20px;
    height: 30px;
    position: absolute;
    display: inline-block;
}
.box-border:before{
    border-left: solid 1px #5767bf;
    border-top: solid 1px #5767bf;
    top:0;
    left: 0;
}
.box-border:after{
    border-right: solid 1px #5767bf;
    border-bottom: solid 1px #5767bf;
    bottom:0;
    right: 0;
}
.box19 p {
    margin: 0; 
    padding: 0;
}